/*
burgundy-#590B19
*/
.bg-burgundy{

    background-color: #590b19 !important;
}
.mary{
    background-image: url(../images/mary_poppins.jpg);
}

.mask{

    background-image: url(../images/logomaskmorado.jpeg);
}

.dance{

    background-image: url(../images/dance\ color.jpeg);
}

.colormask{

    background-image: url(../images/color\ mask.jpeg);
}